.bg-color{
    // background:linear-gradient(-90deg,#1f786a,#41b94d,#b3d056);
    background-color: #2c2e34;
}
.logo-color{
    color:#0B2447;
}
.logo{
    height:30px
}
.cursor{
    cursor: pointer;
}