
<table mat-table [dataSource]="tableData" matSort class="mat-elevation-z8 mb-5">
     <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader);let i=index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white table-header"> {{columnHeader[tableData]}} </th>
        <td>{{tableData[i+1]}}</td>
        <td mat-cell *matCellDef="let element" class="table-data"> {{element[tableData]}}</td>
     </ng-container>
     <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)" ></tr>
     <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
</table>