.num-position-text{
    font-size: 20px;
    .number-positions{
        font-weight: 700px;
    }
}

.text-color{
    color:#254067;
}
.bg-color{
    // background:linear-gradient(-90deg,#1f786a,#41b94d,#b3d056);
    background-color: #2c2e34;
}

.top-margin{
    margin-top: 80px !important;
    .heading{
        font-family: 'Mulish', sans-serif;
        font-weight: 800;
    }
}