.bg-dashboard{
  border-radius: 15px;
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
  .boder-radius-img{
    border-radius: 25px;
  }
  .employee-text{
    color:#254067;
  }
}
.heading{
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
}
.top-margin{
  margin-top: 80px !important;
  .heading{
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
  }
}
